body,
input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    padding-top: 5rem;
}

#submit {
    font-size: 3rem;
    font-family: sans-serif;
    color: whitesmoke;
    background-color: black;
}

.success,
.error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    padding-left: 10px;
}

.success {
    background: green;
}

.error {
    background: red;
}

.delete {
    border-radius: 10px;
    color: red;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.delete:hover {
    background-color: rgba(255, 0, 0, .25);
}

#waitlist {
    border: .2rem solid rgba(201, 201, 177, .40);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 40px;
    scale: .9;

}

#book-list {
    background-color: rgba(201, 201, 177, .10);
    border-radius: 20px;
    margin: 10px;

}

.waitlist-title {
    width: 250px;
}

.waitlist-author {
    width: 180px;
}